.premium-message {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 4px solid #0000FF;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 75%;

  @media (max-width:800px) {
    width: 100%;
  }

  .row {
    padding-left: 50px;

    @media (max-width:800px) {
      padding-left: 0px;
    }


    h3 {
      font-family: $font_family;
      font-weight: $font_bold;
      font-size: 24px;
      line-height: 24px;
    }

    .premium-message-button {
      text-align: center;

      @media (max-width:800px) {
        padding-top: 40px;
        text-align: center;
      }

      .button {
        background: #0000FF;
        padding: 18px 40px 18px 40px;
        letter-spacing: 1px;
        font-family: $font_family;
        font-weight: $font_bold;
        color: #FFF;
        font-size: 15px;
        text-transform: uppercase;
        box-shadow: 0 4px 8px 0 rgba(63, 63, 253, 0.2), 0 6px 20px 0 rgba(63, 63, 253, 0.19);

        &:hover {
          background-color: #3f3ffd;
        }
      }
    }
  }
}

.premium-message-logo {
  width: 300px;
  margin-bottom: 10px;

  img {
    width: 100%;

    @media (max-width:800px) {
      width: 90%;
    }
  }
}
